
@{
    ViewBag.Title = "AccessDenied";
}

<link href="~/Styles/dynamic.css" rel="stylesheet" />
<link href="~/Content/login.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<body>
    <div class="row">

        <div class="error_center alert-danger" role="alert">
            <h3>Vous n'avez pas les droits pour accéder à cette page.</h3>
        </div>

    </div>
</body>

